
# ======================
# Python
# ======================
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
venv_*/
*/venv/
*/env/
*/.venv/

# ML / data
*.pkl
*.csv
*.npy

# ======================
# Java / Maven
# ======================
target/
*.log

# ======================
# Node / Angular
# ======================
node_modules/
dist/

# ======================
# OS
# ======================
.DS_Store


